@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.woff") format("woff");
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.woff") format("woff");
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    /*font-style: bold;*/
}

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
}

.illumination:focus {
    outline: none;
    border: 1px solid #b59f5b;
}

.popup {
    position: absolute;
    z-index: 10;

    width: 100vw;
    height: 350vh;
    display: flex;
    justify-content: center;
    align-content: center;

    background-color: rgba(0, 0, 0, 0.6);
    background-size: 100%;

}

.popup-wrapper {
    position: relative;
    top: 245px;
    left: auto;
    right: auto;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 385px;
    height: 590px;
    padding: 0 30px;

    background-color: #ffffff;
}

.close-button {
    position: relative;
    top: -26px;
    right: -30px;
    width: 18px;
    height: 18px;
    align-self: flex-end;

    background-image: url("../svg/form-x.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}

.feedback-title {
    margin-top: 34px;
    text-align: center;
    text-transform: uppercase;
}

.feedback-hint{
    margin: 10px 0 9px;
    display: flex;
    font-size: 13px;
}

.feedback-text {
    display: flex;
    height: 47px;
    width: 100%;
    padding: 0 17px;
    margin-bottom: 25px;

    border: none;
    background-color: #f4f7f6;
    background-image: url("../svg/form-arrows.svg");
    background-size: 10px auto;
    background-repeat: no-repeat;
    background-position: right 13px center;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.feedback-radio-button {
    position: relative;
    display: none;
}

.radio-text {
    margin-right: 5px;
    font-size: 13px;
}

.radio-text:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-left: 5px ;

    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-size: 18px;
}

.feedback-radio-button:checked ~ .radio-text:before {
    background-image: url("../svg/form-circle.svg");
}

.feedback-radio {
    margin-bottom: 25px;
}

.feedback-textarea {
    display: flex;
    height: 130px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 0 0 20px;
    border: none;
    background-color: #f4f7f6;
    font-size: 13px;
    resize: none;
}


.feedback-button {
    display: flex;
    height: 47px;
    width: 100%;
    margin-top: 25px;
    justify-content: center;

}

.feedback-button-text {
    display: flex;
    align-self: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.menu-button {

    position: absolute;
    top: 30px;
    right: 15px;
    z-index: 3;

    border: none;
    width: 22px;
    height: 19px;
    background-color: transparent;

}

.menu-button-label, .menu-button:before, .menu-button:after {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
}

.menu-button:before {
    content: "";
    position: absolute;
    top: 0;
}

.menu-button:after {
    content: "";
    position: absolute;
    bottom: 0;
}

.header {
    position: relative;
    z-index: 0;
    box-sizing: border-box;

    background-image: url("../images/banner-bg.jpg");
    background-color: #ffffff;
    padding-top: 25px;
    background-repeat: no-repeat;
    background-position: center top;

}

.header-content:after, .trend-card:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: black;
    opacity: 0.6;
}


.header-content {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    width: 179px;
    height: 41px;
    position: relative;
    z-index: 2;
}

.container__menu {
    position: relative;
    z-index: 2;
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 13px;
    list-style-type: none;
}

.menu a, .trand-text {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.menu a:hover {
    text-decoration: underline;
}

.head-text {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    padding-bottom: 130px;
    text-align: center;

    font-weight: bold;

    color: white;
    text-transform: uppercase;
}

h1 {
    font-size: 45px;
    line-height: 75px;
    margin: 0;
    max-width: 730px;
}


h2.main-trend {
    padding-top: 59px;
}

.main-trend, .craft-title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(15, 13, 14);
}

.underline:after {
    content: "";
    display: block;
    margin: 10px auto 23px auto;
    width: 67px;
    height: 3px;
    background-color: #b59f5b;
    opacity: 0.4;
}

.trend-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 2px;
}

.trend-card {
    position: relative;
    width: 25%;
    min-height: 320px;
    display: flex;
    align-items: flex-end;

}


.garden {
    background-image: url("../images/trend1.jpg");
    background-color: #ffffff;
    background-size: cover;
}

.garden-wrapper {
    padding: 30px 100px 35px 36px;
}

.cheese {
    background-image: url("../images/trend2.jpg");
    background-color: #ffffff;
    background-size: cover;
}

.cheese-wrapper {
    padding: 32px 48px 34px 36px;
}

.mountain {
    background-image: url("../images/trend3.jpg");
    background-color: #ffffff;
    background-size: cover;
}

.mountain-wrapper {
    padding: 30px 86px 35px 36px;
}

.lemon {
    background-image: url("../images/trend4.jpg");
    background-color: #ffffff;
    background-size: cover;
}

.lemon-wrapper {
    padding: 30px 53px 35px 36px;
}

.trend-wrapper {
    z-index: 2;

    margin: 5%;
    border: 3px solid #908352;
}

.trend-tag {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    gap: 15px;
    list-style-type: none;
}

.trend-tag a {
    position: relative;
    z-index: 2;
    font-weight: bold;
    color: #b59f5b;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.trend-tag a:hover {
    text-decoration: underline;
}

.trand-text {
    position: relative;
    z-index: 2;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.trand-text:hover {
    color: #b59f5b;
}

.main {
    display: flex;
    max-width: 1200px;
    padding: 0 16px;
    margin-top: 61px;
    margin-left: auto;
    margin-right: auto;
    align-content: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
}

.news-wraper {
    width: 780px;

}

.sidebar-wraper {
    width: 25%;

}

.news {
    display: flex;
    margin-bottom: 60px;
}

.news-img {
    background-color: #eff6f1;
}

.news-content {

    margin-left: 30px;
}

.news-title {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.news-title:hover {
    color: #b59f5b;
}

.news-meta {
    display: flex;
    padding-top: 25px;
    padding-bottom: 45px;
    font-size: 12px;
    gap: 15px;
}

.side-trend {
    display: flex;
}

.date {
    color: #888888;
    font-size: 12px;
}

.author  {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}


.news-text {
    font-size: 15px;
    line-height: 22px;
}

.side {
    margin-bottom: 60px;
}

.aside-title {
    margin-top: 0;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.aside-title:not(:first-child) {
    margin-top: 57px;
}

.title-link {
    display: inline-block;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.2;
    color: #000000;
}

.side-meta {
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 22px;
    margin-top: -2%;
}

.yoga-text{
    margin-top: -2%;
}

.side-img {
    margin-bottom: 22px;
    background-color: #f4f7f6;
}

.search-form {
    margin-top: 40px;
    display: flex;
}

.label {
    flex-grow: 1;
}

.search-input, .subscribe-input {
    width: 100%;
    height: 48px;
    padding-left: 9px;
    border: 0;
    background-color: #f4f7f6;
}

.search-input:focus {
    border: 1px solid #b59f5b;
}

.subscribe {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.button {
    background-color: #b59f5b;
    border: 0;
}

.button:hover {
    background-color: #323232;
}

.search-button {
    width: 48px;

    background-image: url("../svg/search.svg");
    background-size: 26px auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.subscribe-input {
    box-sizing: border-box;
    padding-right: 15px;
}

.subscribe-button {
    margin-top: 18px;
    width: 100%;
    height: 48px;
}

.hidden {
    position: fixed;
    transform: scale(0);

}

.aside-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.aside-tag {
    padding: 3px 15px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    list-style-type: none;
    border: 3px solid #f4f3f1;
}

.aside-tag:hover {
    border: 3px solid #b59f5b;
}

.tag-link {
    text-decoration: none;
    color: #0f0d0e;
}

.side-topics{
    margin-top: -16px;
    list-style-type: none;
}

.topic {
    padding: 14px 0 11px 0;
    border-bottom: 1px solid #eeeeee;
    font-family: "OpenSans", sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.topic-link {
    text-decoration: none;
    color: #0f0d0e;
}

.topic-link:hover {
    color: #b59f5b;
}

.topic-counter {
    color: #b59f5b;
    font-size: 12px;
    font-weight: bold;
}

.craft-cards {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    box-sizing: border-box;
    justify-content: space-between;
}

.craft-card{
    width: 30%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*align-content: flex-start;*/
    /*justify-content: space-around;*/

 }

.craft-img {
    display: flex;
    box-sizing: border-box;
    width: 300px;
    height: 205px;
    margin: auto;
    background-color: #eff6f1;
}

.craft-wraper {
    position: relative;
    top: -30px;
    min-height: 265px;
    box-sizing: border-box;
    border: 3px solid rgba(181, 159, 81, 0.4);
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.craft-meta {
    margin-top: 55px;
    margin-left: 20px;
    margin-right: 60px;
}

.craft-title {
    margin-top: -10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size:  20px;
    text-align: center;
}

.craft-text {
    margin-top: 5px;
    font-size: 15px;
    font-weight: normal;
    color: #000000;
    line-height: 22px;
}

.craft-price {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 24px;
    margin-top: 30px;
    margin-bottom: 25px;

    font-weight: bold;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
}

.invisible {
    opacity: 0;
}

.new-price {
    font-size: 20px;
}

.submit-shop {
    width: 140px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
}

.craft-link {
    text-decoration: none;
    color: #b59f5b;
}

.craft-link:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 34px;
}

.social-links-wrapper {

    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f4f7f6;

}

.social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
}

.copyrighting {
    display: flex;
    justify-content: center;
    padding-top: 73px;
    padding-bottom: 45px;
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.social-icon__dribbble {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/001-dribbble.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.social-icon__pinterest {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/002-pinterest.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.social-icon__tumblr {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("../svg/003-tumblr.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 641px) {
    html {
        overflow-x: hidden;
    }
    .trend-cards, .main, .news, .craft-cards {
        flex-direction: column;
    }
    .container__menu {
        position: fixed;
        transform: scale(0);
    }
    .header-content {
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    .logo {
        width: 270px;
        height: 60px;
    }

    .header {
        min-height: 640px;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        background-image: url("../images/banner-mobile.jpg");
        background-size: cover;
        padding: 0 15px;
    }

    .head-text {
        padding: 0 15px;
        padding-top: 28px;

    }
    .main-title {
        font-size: 26px;
        line-height: 36px;
    }

    .main-trend, .trand-text {
        font-size: 16px;
    }

    h2.main-trend {
        padding-top: 2.5em;
    }

    .trend-card {
        width: 100%;
        margin-bottom: 2px;
        min-height: 230px;

    }

    .trend-wrapper {
        padding-left: 22px;
        padding-top: 20px;
    }

    .cheese-wrapper, .mountain-wrapper{
        padding-right: 18px;

    }
    .news-wraper {
        width: 100%;
        padding-bottom: 40px;
    }

    .main {
        margin-top: 2.5em;
    }
    .news-content {
        margin: 0;
    }

    .trend-tag {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .news {
        margin-bottom: 15px;
    }

    .news:not(:last-child):after  {
        content: "";
        display: block;
        margin: 10px auto 23px auto;
        width: 100%;
        height: 3px;
        background-color: #eeeeee;

    }

    .news-title, .craft-title{
        font-size: 16px;
    }

    .news-meta {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .news-text {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 10px;
    }
    .indent {
        display: block;
        content: "";
        margin: 2px;
    }

    .sidebar-wraper {
        width: 100%;
    }

    .side:not(:last-child) {
        margin-bottom: 40px;
    }

    .aside-title {
        font-size: 16px;
    }

    .aside-tag {
        padding: 5px 14px;
    }

    .craft-cards {
        width: 100%;
    }

    .craft-card {
        width: 100%;
    }

    h3.craft-title {
        font-size: 17px;
        line-height: 29px;
        text-align: start;
    }

    .craft-img {
        width: auto;
        height: auto;
    }

    .craft-cards {
        padding: 0;
    }

    .craft-card {
        padding: 0 15px;
        box-sizing: border-box;
    }

    .craft-meta {
        margin-left: 15px;
        margin-right: 15px;
    }

    .craft-price {
        margin-top: 15px;
    }

    .craft-wraper {
        min-height: auto;
    }

    .footer {
        margin-top: 15px;
    }

    .copyrighting {
        padding-top: 55px;
    }
}
@media screen and (max-width: 641px) and (orientation: landscape) {

    .trend-cards {
        flex-flow: row wrap;
    }

    .trend-card {
        width: 49%;
        flex-grow: 1;
        margin: 0;
    }
}

@media screen and (min-width: 641px) and (max-width: 1199px) {
    .container__menu {
        position: fixed;
        transform: scale(0);
    }

    .trend-cards {
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .trend-card {
        width: 49%;
        padding-bottom: 2px;
        flex-grow: 1;
    }

    .trend-wrapper {
        padding: 30px;
    }

    .main {
        padding: 0 30px;
    }

    .news-wraper {
        width: 55%;
    }

    .sidebar-wraper {
        width: 38%;
    }

    .news {
        flex-flow: column wrap;
    }

    .news-content {
        margin-left: 0;
    }

     .trend-tag {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }

   .news:not(:last-child):after  {
    content: "";
    display: block;
    margin: 10px auto 23px auto;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;

    }

   .news {
        margin-bottom: 15px;
    }

   .news-meta {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .news-text {
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 10px;
    }

   .news-title, .craft-title{
        font-size: 17px;
    }
    .aside-tag {
        padding: 3px 13px;
    }

    .craft-cards {
        width: auto;
        flex-wrap: wrap;
        padding: 0 30px;
    }

    .craft-card {
        width: 48%;
    }

    h3.craft-title {
        text-align: left;
    }

    .main {
        margin-bottom: 50px;
    }
    .footer {
        margin-top: 15px;
    }

    .copyrighting {
        padding-top: 50px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {

    .trend-cards {
        flex-flow: row wrap;
    }

    .trend-card {
        width: 24%;
        flex-grow: 1;
        margin: 0;
        min-height: auto;
    }

}

@media screen and (min-width: 1200px) {
    .menu-button {
        position: fixed;
        transform: scale(0)
    }
}




