@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.woff") format("woff");
    src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.woff") format("woff");
    src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
}

.header {

    position: relative;
    background-color: black;
    background-image: url("../images/banner-bg.jpg");
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 450px;
    z-index: 0;
}

.header-content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 7%;
    bottom: 8%;
    right: 0;
    background-color: black;
    opacity: 0.6;

    z-index: 1;
}


.header-content {
    margin: auto;
    width: 1200px;


    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo {

    width: 179px;
    height: 41px;
    position: relative;
    z-index: 2;
    padding-left: 15px;
}
.container__menu {
    font-family: OpenSans,sans-serif;
    display: flex;
    width: 40%;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    padding-right: 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    list-style-type: none;
    font-size: 13px;
}

.menu a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.head-text {
    font-family: OpenSans, sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    padding-top: 63px;
    text-align: center;

    line-height: 1.6;

    margin-left: auto;
    margin-right: auto;
    color: white;
    text-transform: uppercase;
    z-index: 2;

}

